.add-blog{
   color: white;
   font-size: 3rem;
   text-align: center;
   margin-top: 4rem;
}

.add-blog h1{
   background-color: white;
   color: #008170;
   font-weight: 500;
   display: inline;
   padding: 1rem 4rem;
   border-radius: 20rem;
}

.add-blog input {
   margin: 4rem;
   width: 60%;
   text-align: center;
   height: 6rem;
   font-size: 3.5rem;
   font-family: Beiruti,arial;
   font-weight: 600;
   padding: 2rem;
   border: .4rem solid #008170;
   border-radius: 20rem;
   color: #008170;
   background-color: #c6deda;
}

.add-blog textarea{
   width: 60%;
   height: 45vh;
   font-family: Beiruti,arial;
   font-size: 3rem;
   color: #008170;
   border: .4rem solid #008170;
   border-radius: 3rem;
   padding: 2rem;
   background-color: #c6deda;
   &::-webkit-scrollbar {
      width: 2rem;
    }
    &::-webkit-scrollbar-thumb {
      background: #008170;
      border: .2rem solid white;
      border-radius: 2rem; 
    }
}

.add-blog button {
   margin: 2rem 3rem;
   width: 10%;
   height: 6vh;
   font-family: Beiruti,arial;
   font-size: 3.5rem;
   font-weight: 600;
   border: .4rem solid #008170;
   color: #008170;
   background-color: #c6deda;
   border-radius: 20rem;
   transition: background-color 0.3s ease, color 0.3s ease;
   min-width: 15rem;
}
.add-blog button:hover{
   background-color: #008170;
   color: white;
   transition-delay: .1s;
}