body {
   background: url('../images/loginbg3.jpg') no-repeat center center fixed;
   background-size: cover;
   background-attachment: fixed;
   background-color: #1c407e;
}

.navbar {
   border: .5rem solid #EEEEEE;
   margin: 1%;
   background-color: #1c407e;
   border-radius: 20rem;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   color: #EEEEEE;
   font-size: 3.5rem;
   padding: 1rem;
}

.sitename{
   font-size: 8rem;
   padding-left: 4rem;
   flex: 1.2;
}
.navlinks{
   flex: 3;
   display: flex;
   flex-wrap: wrap;
   justify-content: left;
}
.navlinks a{
   color: #EEEEEE;
   text-decoration: none;
   padding: .5rem 2rem;   
   font-weight: 500;
   margin: 0 2rem;
}
.navlinks .cur-location{
   background-color: #EEEEEE;
   border-radius: 10rem;
   color: #1c407e;
}
.profile{
   flex: 1;
   padding-right: 0rem;
   display: flex;
   align-items: center;
   justify-content: right;
}
.profile span{
   padding-right: 2rem;
   font-weight: 500;
}
.profile button{
   height: 10rem;
   width: 10rem;
   font-size: 8rem;
   padding: .5rem;
   background-color: rgba(0, 0, 0, 0);
   border: none;
   color: #EEEEEE;
   cursor: pointer;
}

.dropdown-menu {
   position: absolute;
   top: 2rem;
   right: 1.9rem;
   background: #EEEEEE;
   padding: 1rem;
   border: .5rem solid #EEEEEE;
   border-radius: 6rem;
   border-top-left-radius: 0;
   width: 20rem;
   text-align: center;
   z-index: 1;
 }
 
 .dropdown-menu a,
 .dropdown-menu div {
   display: block;
   padding: 1rem;
   margin-top: 2rem;
   text-decoration: none;
   color: #1c407e;
   font-weight: 500;
   font-size: 4rem;
   border-radius: 10rem;
   cursor: pointer;
 }
 .dropdown-menu button{
   color: #1c407e;
   padding-right: 1.2rem;
   width: 100%;
   text-align: right;
   transform: scale(1.05);
 }

 .dropdown-menu a:hover,
 .dropdown-menu div:hover {
   background: #1c407e;
   color: #EEEEEE;
   font-weight: 400;
 }
 
 @media (max-width: 500px) {
   /* Your styles here */
   .sitename{
      flex: 2;
      font-size: 6rem;
      padding-left: 1rem;
   }
   .profile{
      flex: 1;
   }
   .dropdown-menu{
      top: .7rem;
      right: .6rem;
      width: 24rem;
   }
}