html, body {
   margin: 0;
 }

.container {
   margin: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: url('../images/loginbg5.jpg') no-repeat center center fixed;
   background-size: cover;
   color: #EEEEEE;
}

.signup-form {
   margin: auto;
   width: 70vw;
   height: 75vh;
   background-color: #060026a2;
   display: flex;
   flex-wrap: wrap;
   border-radius: 1rem;
}

.site-name {
   flex: 1;
   min-width: 300px;
   margin-top: 23vh;
   padding-left: 10rem;
}
.site-name h1{
   font-size: 10rem;
}
.site-name p{
   font-size: 4rem;
   margin-bottom: 5rem;
}

.social-medias a{
   font-size: 4rem;
   margin-right: 4rem;
   padding: 0rem;
   color: #EEEEEE;
}
.social-medias a:hover{
   color: #EB5B00;
}

.signup {
   flex: 1.5;
   min-width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: center;
   padding: 6rem 1rem;
} 

.signup > * {
   font-size: 3.5rem;
   flex: 1;
   margin: 0.5rem 0;
   width: 80%;
}

.roles {
   display: flex;
   justify-content: space-between;
   height: 8rem;
}
.roles > *{
   width: 30%;
   height: 5rem;
   min-height: 30px;
   margin-bottom: 2rem;
   font-size: 3rem;
   font-weight: 500  ;
   font-family: Beiruti,arial;
   border: none;
   border-radius: 100rem;
   color: #1c407e;   
}
.roles > *:hover{
   background-color: #FFE6C7;
}
.roles .selected-role{
   background-color: #EB5B00;
   border: .3rem solid #EB5B00;
   color: #EEEEEE;
}

.input-field{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.input-field > input{
   margin: 2rem 0rem;
   height: 80%;
   width: 70%;
   font-family: Beiruti,arial;
   font-size: 3rem;
   padding: 0  2rem;
   margin-left: 2rem;
   border: .3rem solid rgba(0, 0, 0, 0);
   border-radius: 100rem;
   background-color: rgba(0, 0, 0, 0);
   color: #EEEEEE;
   outline: none;
}
.input-field>input:hover{
   border: .3rem solid #EEEEEE;
}
.input-field>input:focus{
   border: .3rem solid #EB5B00;
}
.login-field > input{
   height: 60%;
}
.login-field{
   margin-top: 5rem;
}

.submit-btn{
   display: block;
   margin: auto;
   margin-top: 3rem;
   width: 20rem;
   padding: .5rem 0;
   background-color: #1c407e ;
   border-radius: 4rem;
   border: .3rem solid #EEEEEE;
   outline: none;
   color: #EEEEEE;
   font-family: Beiruti,arial;
   font-size: 4rem;
   font-weight: 500;
   transition: background-color 0.3s ease, color 0.3s ease, border-color .3s ease;
}
.submit-btn:hover,.submit-btn:focus{
   background-color: #EB5B00;
   color: #EEEEEE;
   border-color: #EB5B00;
}
.login-btn{
   margin-top: 5rem;
}

.error{
   color: rgb(255, 0, 0);
   text-align: center;
   margin-top: 2rem;
}
.not-error{
   text-align: center;
   margin-top: 2rem;
}
.not-error a{
   color: #EEEEEE;
   text-decoration: none;
   padding-left: 1rem;
}

.pass-input-wrapper {
   position: relative;
}

.show-password{
   position: absolute;
   right: 4%;
   background-color: transparent;
   cursor: pointer;
   border: none;
   color: #EB5B00;
   font-size: 2.5rem;
}
.show-password:hover{
   color: #EEEEEE;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"] {
  -webkit-appearance: none;
}

@media (max-width: 500px) {
   /* Your styles here */
   .signup-form{
      width: 90vw;
      height: 80vh;
   }
   .site-name{
      margin-top: 5vh;
      padding: 0;
   }
   .site-name h1{
      font-size: 7rem;
      text-align: center;
   }
   .site-name p{
      font-size: 3rem;
      text-align: center;
   }
   .social-medias{
      text-align: center;
   }
   .social-medias a{
      margin: 0 5rem;
      font-size: 5rem;
   }
   .signup > * {
      font-size: 3rem;
   }
   .input-field > input{
      font-size: 2.5rem;
   }
}